<a href="https://colab.research.google.com/github/Falenbayu/Data-Engineer/blob/main/Project_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Part I

In [ ]:
# Membuat Series/DataFrame dari List
contoh_list1 = [0, 1.5, 'Pandas', (-2, 5)]
contoh_list2 = ['a','b','c','d']
contoh_list3 = ['m','n','o','p']

contoh_series = pd.Series(contoh_list1)
print("Contoh series:\n", contoh_series)

contoh_df = pd.DataFrame(data=[contoh_list1, contoh_list2, contoh_list3], columns=['c1','c2','c3','c4'])
print("\nContoh DataFrame:\n", contoh_df)

Contoh series:
 0          0
1        1.5
2     Pandas
3    (-2, 5)
dtype: object

Contoh DataFrame:
   c1   c2      c3       c4
0  0  1.5  Pandas  (-2, 5)
1  a    b       c        d
2  m    n       o        p

In [ ]:
# Membuat Series/DataFrame dari Dictionary
contoh_dict1 = {'index-1':'a', 'index-2':'b', 'index-3':'c', 'index-4':'d'}
contoh_list1 = [0, 1.5, 'Pandas', (-2, 5)]
contoh_list2 = ['a','b','c','d']
contoh_list3 = ['m','n','o','p']
contoh_dict2 = {'c1':contoh_list1, 'c2': contoh_list2, 'c3': contoh_list3}

contoh_series = pd.Series(contoh_dict1)
print("Contoh series:\n", contoh_series)

contoh_df = pd.DataFrame(contoh_dict2)
print("\nContoh DataFrame:\n", contoh_df)

Contoh series:
 index-1    a
index-2    b
index-3    c
index-4    d
dtype: object

Contoh DataFrame:
         c1 c2 c3
0        0  a  m
1      1.5  b  n
2   Pandas  c  o
3  (-2, 5)  d  p

In [ ]:
# Masking
contoh_list1 = [0, 1.5, 'Pandas', (-2, 5)]
contoh_list2 = ['a','b','c','d']
contoh_list3 = ['m','n','o','p']
contoh_dict2 = {'c1':contoh_list1, 'c2': contoh_list2, 'c3': contoh_list3}

contoh_df = pd.DataFrame(contoh_dict2)
print("\nContoh DataFrame:\n", contoh_df)

mask = [True, False, False, True]
contoh_df_mask = contoh_df.loc[mask, :]
# contoh_df_mask = contoh_df.iloc[mask, :]
print("\nContoh DataFrame setelah masking:\n", contoh_df_mask)

Contoh DataFrame:
         c1 c2 c3
0        0  a  m
1      1.5  b  n
2   Pandas  c  o
3  (-2, 5)  d  p

Contoh DataFrame setelah masking:
         c1 c2 c3
0        0  a  m
3  (-2, 5)  d  p

In [ ]:
# Default single-index by pandas
contoh_list1 = [0, 1.5, 'Pandas', (-2, 5)]
contoh_list2 = ['a','b','c','d']
contoh_list3 = ['m','n','o','p']
contoh_dict2 = {'c1':contoh_list1, 'c2': contoh_list2, 'c3': contoh_list3}

contoh_df = pd.DataFrame(contoh_dict2)
print("\nContoh DataFrame:\n", contoh_df)

print('\nIndex:', contoh_df.index)
print('Column:', contoh_df.columns)

Contoh DataFrame:
         c1 c2 c3
0        0  a  m
1      1.5  b  n
2   Pandas  c  o
3  (-2, 5)  d  p

Index: RangeIndex(start=0, stop=4, step=1)
Column: Index(['c1', 'c2', 'c3'], dtype='object')

In [ ]:
for i in contoh_df.index:
  print(i)

0
1
2
3

In [ ]:
# Multi-index
contoh_list1 = [0, 1.5, 'Pandas', (-2, 5)]
contoh_list2 = ['a','b','c','d']
contoh_list3 = ['m','n','o','p']
contoh_dict2 = {'c1':contoh_list1, 'c2': contoh_list2, 'c3': contoh_list3}

contoh_df = pd.DataFrame(contoh_dict2)
print("Contoh DataFrame:\n", contoh_df)

contoh_df_x = contoh_df.set_index(['c2', 'c3'])   # pilih kolom sebagai index
print("\nContoh DataFrame dengan multi-index:\n", contoh_df_x)

print('Index:', contoh_df_x.index)
print('Column:', contoh_df_x.columns)

Contoh DataFrame:
         c1 c2 c3
0        0  a  m
1      1.5  b  n
2   Pandas  c  o
3  (-2, 5)  d  p

Contoh DataFrame dengan multi-index:
             c1
c2 c3
a  m         0
b  n       1.5
c  o    Pandas
d  p   (-2, 5)
Index: MultiIndex([('a', 'm'),
            ('b', 'n'),
            ('c', 'o'),
            ('d', 'p')],
           names=['c2', 'c3'])
Column: Index(['c1'], dtype='object')

In [ ]:
for i in contoh_df_x.index:
  print(i)

print(contoh_df_x.index.names)
print(contoh_df_x.index.levels)

('a', 'm')
('b', 'n')
('c', 'o')
('d', 'p')
['c2', 'c3']
[['a', 'b', 'c', 'd'], ['m', 'n', 'o', 'p']]

In [ ]:
# print(contoh_df_x.loc[('c','o'),:])

            c1
c2 c3
c  o    Pandas
   o   (-2, 5)

In [ ]:
# Assign index secara manual
contoh_list1 = [0, 1.5, 'Pandas', (-2, 5)]
contoh_list2 = ['a','b','c','d']
contoh_list3 = ['m','n','o','p']
contoh_dict2 = {'c1':contoh_list1, 'c2': contoh_list2, 'c3': contoh_list3}

contoh_df = pd.DataFrame(contoh_dict2, index=['x1', 'x2', 'x3', 'x4'])
print("Contoh DataFrame:\n", contoh_df)
print('\nIndex hasil assign manual:', contoh_df.index)
contoh_df = contoh_df.reset_index(drop=True)  # reset index agar mengikuti default
print('Index setelah reset:', contoh_df.index)

Contoh DataFrame:
          c1 c2 c3
x1        0  a  m
x2      1.5  b  n
x3   Pandas  c  o
x4  (-2, 5)  d  p

Index hasil assign manual: Index(['x1', 'x2', 'x3', 'x4'], dtype='object')
Index setelah reset: RangeIndex(start=0, stop=4, step=1)

In [ ]:
# Slicing - part 1
# Baca file sample_csv.csv
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_csv.csv')
# df.head(10)

# Slice langsung berdasarkan kolom
df_slice = df.loc[ (df["item_price"] >= 100000) & (df["product_id"].isin(["P0029","P0040","P0041","P0116","P0117"])) ]
print("Slice langsung berdasarkan kolom:\n")
df_slice

# (df["item_price"] >= 100000) & (df["product_id"].isin(["P0029","P0040","P0041","P0116","P0117"]))

# # Proses yang perlu dilakukan jika menggunakan .iloc()
mask = (df["item_price"] >= 100000) & (df["product_id"].isin(["P0029","P0040","P0041","P0116","P0117"]))
mask = mask.to_list()   # harus diubah dari bentuk Series ke bentuk list dulu sebelum dipakai
df_slice_i = df.iloc[mask]
df_slice_i

Slice langsung berdasarkan kolom:

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
60,1612375,2019-01-01,17091,Tangerang,Banten,P0116,BRAND_A,6,747000
70,1612378,2019-01-01,17470,Jakarta Pusat,DKI Jakarta,P0041,BRAND_A,12,310000
77,1612378,2019-01-01,17470,Jakarta Pusat,DKI Jakarta,P0040,BRAND_A,12,310000
80,1612378,2019-01-01,17470,Jakarta Pusat,DKI Jakarta,P0117,BRAND_A,4,2795000
92,1612387,2019-01-01,17228,Bogor,Jawa Barat,P0029,BRAND_A,12,310000

In [ ]:
df.iloc[0, 0]
df.loc[0, 'order_id']

1612339

In [ ]:
# Slicing - part 2
# Baca file sample_csv.csv
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_csv.csv')
# Set index dari df sesuai instruksi
df = df.set_index(['order_date','order_id','product_id'])
# Slice sesuai intruksi
df_slice = df.loc[("2019-01-01",1612339,['P2154','P2159']),:]
print("Slice df:\n")
df_slice

Slice df:

                                customer_id             city     province  \
order_date order_id product_id
2019-01-01 1612339  P2154             18055  Jakarta Selatan  DKI Jakarta
                    P2159             18055  Jakarta Selatan  DKI Jakarta

                                  brand  quantity  item_price
order_date order_id product_id
2019-01-01 1612339  P2154       BRAND_M         4     1745000
                    P2159       BRAND_M        24      310000

In [ ]:
# Slicing - part 2 (contoh dari pandas)
# generate dataset awal
midx = pd.MultiIndex.from_product([['A0','A1'], ['B0','B1','B2','B3']])
columns = ['foo', 'bar']
dfmi = pd.DataFrame(np.arange(16).reshape((len(midx), len(columns))),
                     index=midx, columns=columns)
print('Dataset awal:\n',dfmi)

# Slicing dengan manual list
dfmi_slice0 = dfmi.loc[(['A0','A1'], ['B0','B1','B2']), :]
print('Hasil slicing dengan manual list:\n', dfmi_slice0)

# Slicing dengan default command 'slice'
dfmi_slice1 = dfmi.loc[(slice(None), slice('B0', 'B2')), :]
print('Hasil slicing dengan default command:\n', dfmi_slice1)

# Slicing dengan pd.IndexSlice agar command lebih mudah dimengerti
idx = pd.IndexSlice
dfmi_slice2 = dfmi.loc[idx[:, 'B0':'B2'], :]
print('Hasil slicing dengan bantuan IndexSlice:\n', dfmi_slice2)

Dataset awal:
        foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
   B3    6    7
A1 B0    8    9
   B1   10   11
   B2   12   13
   B3   14   15
Hasil slicing dengan manual list:
        foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
A1 B0    8    9
   B1   10   11
   B2   12   13
Hasil slicing dengan default command:
        foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
A1 B0    8    9
   B1   10   11
   B2   12   13
Hasil slicing dengan bantuan IndexSlice:
        foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
A1 B0    8    9
   B1   10   11
   B2   12   13

In [ ]:
# Transforming - part 1 - pd.to_datetime()
contoh_list = ['a','b','c','d']
# contoh_datetime1 = ['2023-12-11', '2023-12-31', '2024-01-01', '2024-01-02']
contoh_datetime1 = ['11/12/23', '31/12/23', '01/01/24', '02/01/24']   # penulisan dengan format '%d/%m/%y'
contoh_dict1 = {'order_date': contoh_datetime1, 'type': contoh_list}

df = pd.DataFrame(contoh_dict1)
print('Dataset awal:\n', df)
print('Tipe data awal:\n', df.dtypes)

df['order_date'] = pd.to_datetime(df['order_date'], format='%d/%m/%y')   # tambahkan argumen format='%d/%m/%y'
print('\nDataset sesudah transformasi:\n', df)
print('Tipe data setelah transformasi:\n', df.dtypes)

Dataset awal:
   order_date type
0   11/12/23    a
1   31/12/23    b
2   01/01/24    c
3   02/01/24    d
Tipe data awal:
 order_date    object
type          object
dtype: object

Dataset sesudah transformasi:
   order_date type
0 2023-12-11    a
1 2023-12-31    b
2 2024-01-01    c
3 2024-01-02    d
Tipe data setelah transformasi:
 order_date    datetime64[ns]
type                  object
dtype: object

In [ ]:
# Transforming - part 2 - pd.to_numeric()
contoh_list = ['a','b','c','c']
contoh_num = ['2', ' 3', '-6', '8']
contoh_dict1 = {'value': contoh_num, 'kategori': contoh_list}

df = pd.DataFrame(contoh_dict1)
print('Dataset awal:\n', df)
print('Tipe data awal:\n', df.dtypes)

df['value'] = pd.to_numeric(df['value'], downcast='float')   # tambahkan argumen downcast='float'
print('\nDataset sesudah transformasi:\n', df)
print('Tipe data setelah transformasi:\n', df.dtypes)

Dataset awal:
   value kategori
0     2        a
1     3        b
2    -6        c
3     8        c
Tipe data awal:
 value       object
kategori    object
dtype: object

Dataset sesudah transformasi:
    value kategori
0      2        a
1      3        b
2     -6        c
3      8        c
Tipe data setelah transformasi:
 value         int8
kategori    object
dtype: object

In [ ]:
# Transforming - part 2 - .astype()
contoh_list = ['a','b','c','c']
contoh_num = ['2', ' 3', '-6', '8']
contoh_dict1 = {'value': contoh_num, 'kategori': contoh_list}

df = pd.DataFrame(contoh_dict1)
print('Tipe data awal:\n', df.dtypes)

df['value'] = df['value'].astype('int32')                     # casting per kolom
df2 = df.astype({'value': 'int32', 'kategori': 'category'})   # casting beberapa kolom
print('\nTipe data setelah transformasi (df):\n', df.dtypes)
print('\nTipe data setelah transformasi (df2):\n', df2.dtypes)

Tipe data awal:
 value       object
kategori    object
dtype: object

Tipe data setelah transformasi (df):
 value        int32
kategori    object
dtype: object

Tipe data setelah transformasi (df2):
 value          int32
kategori    category
dtype: object

In [ ]:
# Transforming - part 3 - .applymap() and .apply()
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
print('Dataset awal:\n', df)

df1 = df.applymap(lambda x: len(str(x)))        # apply fungsi secara element-wise
df2 = df.iloc[:, 0].map(lambda x: len(str(x)))  # apply fungsi secara element-wise
df3 = df.apply(np.sum, axis=1)                  # apply fungsi di sepanjang axis kolom
df4 = df.apply(np.sum, axis=0)                  # apply fungsi di sepanjang axis baris

print('\nDataset hasil .applymap():\n', df1)
print('\nDataset hasil .map():\n', df2)
print('\nDataset hasil .apply() axis kolom:\n', df3)
print('\nDataset hasil .apply() axis baris:\n', df4)

Dataset awal:
        0      1
0  1.000  2.120
1  3.356  4.567

Dataset hasil .applymap():
    0  1
0  3  4
1  5  5

Dataset hasil .map():
 0    3
1    5
Name: 0, dtype: int64

Dataset hasil .apply() axis kolom:
 0    3.120
1    7.923
dtype: float64

Dataset hasil .apply() axis baris:
 0    4.356
1    6.687
dtype: float64

In [ ]:
# Inspeksi Missing Value
# Baca file
df=pd.read_csv("https://storage.googleapis.com/dqlab-dataset/datacovid19.csv")
# Cetak info dari df
print(df.info())
# Cetak jumlah missing value di setiap kolom
mv = df.isna().sum()
# df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

In [ ]:
# Treatment Missing Value - part 2 - .dropna()
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),pd.NaT],
                   "dummy": [pd.NA, pd.NA, pd.NA]})
print('Dataset awal:\n', df)

df0_any = df.dropna(axis=0, how='any')    # drop setiap row yang memiliki setidaknya 1 value NA
df1_any = df.dropna(axis=1, how='any')    # drop setiap kolom yang memiliki setidaknya 1 value NA
df0_all = df.dropna(axis=0, how='all')    # drop setiap row yang semua value-nya NA
df1_all = df.dropna(axis=1, how='all')    # drop setiap kolom yang semua value-nya NA

print('\nDataset hasil .dropna(axis=0, how="any"):\n', df0_any)
print('\nDataset hasil .dropna(axis=1, how="any"):\n', df1_any)
print('\nDataset hasil .dropna(axis=0, how="all"):\n', df0_all)
print('\nDataset hasil .dropna(axis=1, how="all"):\n', df1_all)

Dataset awal:
        name        toy       born dummy
0    Alfred        NaN        NaT  <NA>
1    Batman  Batmobile 1940-04-25  <NA>
2  Catwoman   Bullwhip        NaT  <NA>

Dataset hasil .dropna(axis=0, how="any"):
 Empty DataFrame
Columns: [name, toy, born, dummy]
Index: []

Dataset hasil .dropna(axis=1, how="any"):
        name
0    Alfred
1    Batman
2  Catwoman

Dataset hasil .dropna(axis=0, how="all"):
        name        toy       born dummy
0    Alfred        NaN        NaT  <NA>
1    Batman  Batmobile 1940-04-25  <NA>
2  Catwoman   Bullwhip        NaT  <NA>

Dataset hasil .dropna(axis=1, how="all"):
        name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [ ]:
# Treatment Missing Value - part 3 - .fillna()
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
print("Dataset awal:")
print(df)
print("\nFill NA dengan 0 : ")
print(df.fillna(0))
print("\nFill NA dengan propagasi \nke depan (method='ffill') : ")
print(df.fillna(method="ffill"))
print("\nReplace NA di kolom 'A','B','C','D' \nmasing-masing dengan 0,1,2,3 : ")
values = {"A": 0, "B": 1, "C": 2, "D": 3}
print(df.fillna(value=values))
print("\nReplace NA dengan nilai \nmean/median/max per kolom:")
values = {"A": df["A"].mean(), "B": df["B"].median(), "C": df["D"].max()}
print(df.fillna(value=values))

Dataset awal:
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

Fill NA dengan 0 :
     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

Fill NA dengan propagasi
ke depan (method='ffill') :
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

Replace NA di kolom 'A','B','C','D'
masing-masing dengan 0,1,2,3 :
     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

Replace NA dengan nilai
mean/median/max per kolom:
     A    B    C  D
0  3.0  2.0  5.0  0
1  3.0  4.0  5.0  1
2  3.0  3.0  5.0  5
3  3.0  3.0  5.0  4

In [ ]:
# Treatment Missing Value - part 5 - .interpolate()
s = pd.Series([0, 1, np.nan, 3, 4])
print('Series awal:')
print(s)
print('\nSeries hasil interpolate:')
print(s.interpolate())

Series awal:
0    0.0
1    1.0
2    NaN
3    3.0
4    4.0
dtype: float64

Series hasil interpolate:
0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

# Part II

In [ ]:
# Penggabungan Series / DataFrame - .concat()
# # Inisiasi dataset awal
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    # index=[0, 1, 2, 3],
)
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    # index=[4, 5, 6, 7],
)
df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    # index=[8, 9, 10, 11],
)

# # Terapkan pd.concat()
result = pd.concat([df1, df2, df3])
# result = pd.concat([df1, df2, df3], ignore_index=True)
# result = pd.concat([df1, df2, df3], axis=1)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
# Penggabungan Series / DataFrame - .append()
# Inisiasi dataset awal
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

# Terapkan .append()
result = df1.append(df2)
result

<ipython-input-4-44a66bfd41e8>:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# Reshaping dataset - .pivot() dan .pivot_table()
import pandas as pd
# Dataframe
data = pd.DataFrame({
  'kelas': 6*['A'] + 6*['B'],
  'murid': 2*['A1'] + 2*['A2'] + 2*['A3'] + 2*['B1'] + 2*['B2'] + 2*['B3'],
  'pelajaran': 6*['math','english'],
  'nilai': [90,60,70,85,50,60,100,40,95,80,60,45]
}, columns=['kelas','murid','pelajaran','nilai'])
print("Dataset awal:")
print(data)

# Pivot dengan index=['kelas','murid'] agar row-index terjamin unique
hasil_pivot = data.pivot(index=['kelas','murid'], columns='pelajaran', values='nilai')
print('\nHasil Pivot dengan index=["kelas","murid"]:')
print(hasil_pivot)

# # Creating pivot and assign pivot_tab dengan menggunakan keyword aggfunc='mean'
pivot_tab_mean = data.pivot_table(index='kelas', columns='pelajaran', values='nilai', aggfunc='mean')
print('Creating pivot table -- aggfunc mean:\n', pivot_tab_mean)

# # Creating pivot and assign pivot_tab dengan menggunakan keyword aggfunc='median'
# pivot_tab_median = data.pivot_table(index='kelas', columns='pelajaran', values='nilai', aggfunc='median')
# print('Creating pivot table -- aggfunc median:\n', pivot_tab_median)

Dataset awal:
   kelas murid pelajaran  nilai
0      A    A1      math     90
1      A    A1   english     60
2      A    A2      math     70
3      A    A2   english     85
4      A    A3      math     50
5      A    A3   english     60
6      B    B1      math    100
7      B    B1   english     40
8      B    B2      math     95
9      B    B2   english     80
10     B    B3      math     60
11     B    B3   english     45

Hasil Pivot dengan index=["kelas","murid"]:
pelajaran    english  math
kelas murid
A     A1          60    90
      A2          85    70
      A3          60    50
B     B1          40   100
      B2          80    95
      B3          45    60
Creating pivot table -- aggfunc mean:
 pelajaran    english  math
kelas
A          68.333333  70.0
B          55.000000  85.0

In [ ]:
# Aggregation & GroupBy - .groupby()
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
grouped = df.groupby('A')
for name, group in grouped:
  print(name)
  print(group)

bar
     A      B         C         D
1  bar    one  1.119532  0.758894
3  bar  three -0.990304 -1.554925
5  bar    two -0.128665 -0.613532
foo
     A      B         C         D
0  foo    one -0.282936  1.010196
2  foo    two  0.530829 -0.102234
4  foo    two -0.916673  0.599573
6  foo    one -0.967426 -0.343789
7  foo  three  1.103366 -1.565583

In [ ]:
# Aggregation & GroupBy - .groupby().<agg_function>
animals = pd.DataFrame(
    {
        "kind": ["cat", "dog", "cat", "dog"],
        "height": [9.1, 6.0, 9.5, 34.0],
        "weight": [7.9, 7.5, 9.9, 198.0],
    }
)
print("Dataset awal:")
print(animals)
# Menggunakan fungsi agregasi setelah groupby
print("\ngroupby dan agregasi sum:")
print( animals.groupby("kind").sum() )
print("\ngroupby dan agregasi mean/average:")
print( animals.groupby("kind").mean() )
# Menggunakan sekumpulan fungsi agregasi setelah groupby
print("\ngroupby dan agregasi min, median, standard deviation:")
print( animals.groupby("kind").agg(['min','median', 'std']) )

Dataset awal:
  kind  height  weight
0  cat     9.1     7.9
1  dog     6.0     7.5
2  cat     9.5     9.9
3  dog    34.0   198.0

groupby dan agregasi sum:
      height  weight
kind
cat     18.6    17.8
dog     40.0   205.5

groupby dan agregasi mean/average:
      height  weight
kind
cat      9.3    8.90
dog     20.0  102.75

groupby dan agregasi min, median, standard deviation:
     height                   weight
        min median        std    min  median         std
kind
cat     9.1    9.3   0.282843    7.9    8.90    1.414214
dog     6.0   20.0  19.798990    7.5  102.75  134.703842

In [ ]:
# Time Series in Pandas
idx = pd.date_range(start="2023-12-29", freq="D", periods=4)

idx.isocalendar()

idx.to_series().dt.dayofweek

2023-12-29    4
2023-12-30    5
2023-12-31    6
2024-01-01    0
Freq: D, dtype: int64

In [ ]:
# Time Series in Pandas - Resampling - Downsampling
# # Inisiasi dataset awal
np.random.seed(0)   # gunakan seed agar hasil generate nilai random selalu sama
rng = pd.date_range("1/1/2024", periods=150, freq="s")    # generate range datetime 150 seconds (2.5 minutes)
ts = pd.Series(np.random.randint(0, 50, len(rng)), index=rng)   # generate timeseries berisi angka random
print('Timeseries awal:')
print(ts)

# # from secondly to every 2 Minutes
print('\nTimeseries dengan downsampling sum:')
print( ts.resample("2Min").sum() )
print('\nTimeseries dengan downsampling average:')
print( ts.resample("2Min").mean() )
print('\nTimeseries dengan downsampling ohlc:')
print( ts.resample("2Min").ohlc() )
print('\nTimeseries dengan downsampling first, closed="right":')
print( ts.resample("2Min", closed="right").first() )   # closed="right" to specify which end of the interval is closed

# -------------------------------
# Time Series in Pandas - Resampling - Upsampling
# # from secondly to every 250 milliseconds
# upsampling = ts[:2].resample("250ms").asfreq()
# upsampling = ts[:2].resample("250ms").ffill()
upsampling = ts[:2].resample("250ms").ffill(limit=2)
print('\nTimeseries hasil upsampling:')
print(upsampling)

Timeseries awal:
2024-01-01 00:00:00    44
2024-01-01 00:00:01    47
2024-01-01 00:00:02     0
2024-01-01 00:00:03     3
2024-01-01 00:00:04     3
                       ..
2024-01-01 00:02:25     2
2024-01-01 00:02:26    16
2024-01-01 00:02:27    32
2024-01-01 00:02:28     0
2024-01-01 00:02:29    38
Freq: S, Length: 150, dtype: int64

Timeseries dengan downsampling sum:
2024-01-01 00:00:00    2793
2024-01-01 00:02:00     658
Freq: 2T, dtype: int64

Timeseries dengan downsampling average:
2024-01-01 00:00:00    23.275000
2024-01-01 00:02:00    21.933333
Freq: 2T, dtype: float64

Timeseries dengan downsampling ohlc:
                     open  high  low  close
2024-01-01 00:00:00    44    49    0     21
2024-01-01 00:02:00     9    46    0     38

Timeseries dengan downsampling first, closed="right":
2023-12-31 23:58:00    44
2024-01-01 00:00:00    47
2024-01-01 00:02:00     0
Freq: 2T, dtype: int64

Timeseries hasil upsampling:
2024-01-01 00:00:00.000    44.0
2024-01-01 00:00:00.250    44.0
2024-01-01 00:00:00.500    44.0
2024-01-01 00:00:00.750     NaN
2024-01-01 00:00:01.000    47.0
Freq: 250L, dtype: float64